# Python-related files
*.pyc
__pycache__/

# Environment-related files
env/
venv/
*.env

# Logs and temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.swp

# Ignore input files
playlist_urls.txt

# Ignore output files
valid_streams.m3u
iptv_validator.log
*.m3u
*.m3u8